body{
    background-image: url(mosque.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}






.maincontainer{
    display: flex;
    justify-content: center;
    padding-top: 42px;
}
.midcontainer{
    display: flex;
    flex-direction:column;
    width:800px;
    row-gap: 20px;
    padding: 50px;
    border-radius: 2px;
    border: 1px solid wheat;

}
.subcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timingcard{
    padding:10px 60px ;
    border-radius: 7px;
    border: 1px solid whitesmoke;
    box-shadow: 6px 3px 6px rgba(0,0,0,0.4);

}

.TIMINGtEXT{
    font-size: 20px;
    font-weight: 400;
    color: antiquewhite;
}
h2{
    text-align: center;
    color: antiquewhite;
}
label{
    display:flex;
   justify-content: center;

}
label input{
    border: 1px solid;
    border-radius: 2px;
   
}
button{
    background-color: blue;
    padding-left: 10px;
    text-align: center;
    margin-left: 240px;
    color: antiquewhite;
}

